@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/*
    Gradient: #ffa399 to #ff4d97;
    Palelue: #dddbff;
    GrayishBlue: #848794;
    DarkBlue: #1d2c67;
    VeryDarkBlue: #0c122c

    font-family: "Raleway", sans-serif;
*/

div#caixabranca::after { 
    position: absolute;
    content: "";
    height: 3rem;
    width: 3rem;
    background-color: white;
    clip-path: polygon(100% 0, 0 0, 100% 100%);
    display: none;
}


@media screen and (min-width: 1000px) {
    div#caixabranca::after {
        display: inline-block;
        background-color: white;
        top: 70px;
        left: 152px;
    }
}