@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/*
    Gradient: #ffa399 to #ff4d97;
    Palelue: #dddbff;
    GrayishBlue: #848794;
    DarkBlue: #1d2c67;
    VeryDarkBlue: #0c122c

    font-family: "Raleway", sans-serif;
*/